@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <h3>Palindromes</h3>
    <form action="/" method="post">
        <label for="word">Enter a word</label>
        <input type="text" name="word" id="word">
        <button type="submit" name="button">Enter</button>
    </form>
</div>

@if (@Model != null)
{
    <div class="row">
        <h2>@if (@Model.CompareStrings())
            {
                <p>@Model.GetUserString() is a palindrome and the palindrome is @Model.GetReverseString()</p>
            }

            else
            {
                <p>@Model.GetUserString() is not a palindrome!</p>
            }

        </h2>
    </div>

}
